.logo-container {
    text-align: center;
}

.first-page {
    background-image: url(https://i.ibb.co/k6RPzK0/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.macro-container {
    width: 60%;
    background-color: #FFFFFF;
}

.welcome-animeki {
    font-family: 'Saira', sans-serif;
    color:#006BB8;
}

.description-animeki {
    font-family: 'Saira', sans-serif;
    color: #484040;
}

.start-btn {
    background: linear-gradient(to right, #09D1E1, #0939E1);
    font-family: 'Saira', sans-serif;
    color: #FFFFFF;
    border-radius: 10px;
}

.second-page {
    /*display: none;*/
    background: linear-gradient(to bottom, #6A6C8A, #262736);
}

.second-logo-container {
    text-align: center;
}

.facebook-btn, .google-btn {
    background-color: transparent;
    border-color: transparent;
}

.your-email, .your-password {
    border-radius: 10px;
}

.e-mail, .user-password {
    color: #09D1E1;
    font-family: Roboto;
}

.registration-link, .remember, .personal-info {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.forget-user {
    font-family: 'Roboto', sans-serif;
    color: #09D1E1;

}

.third-page {
    background: linear-gradient(to bottom, #6A6C8A, #262736);
    /*display: none;*/
}

.registration-container {
    background: linear-gradient(to bottom, #419BD3, #013D74);
    width: 60%;
    border-radius: 10px;
}

.full-name, .date-birth, .e-mail-adress, .password {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.write-name, .write-date, .write-e-mail, .write-password, .repeat-password {
    border-radius: 5px;;
}

.register-btn {
    background: linear-gradient(to right, #09D1E1, #0939E1);
    font-family: 'Saira', sans-serif;
    color: #FFFFFF;
    border-radius: 10px;
}

.fourth-page {
    /*display: none;*/
    background: linear-gradient(to bottom, #6A6C8A, #262736);
}

.fourth-title {
    font-family: 'Saira', sans-serif;
    color: #FFFFFF;
}
